body {
    background-color: #A2592E;
}

.content {
    margin-top: 2vh;
    user-select: none;
}

.content_border {
    border: 8px solid white;
    border-radius: 8px;
    width: 70vh;
    height: 94vh;
}

#text {
    margin-top: 5vh;
    padding: 5px;
    border-radius: 10px;
    background-color: #A2592E;
    width: 60vh;
}

#text:hover {
    transition: .2s;
    background-color: #C2723F;
    transform: skew(20deg, 30deg)
}

#line {
    margin: 5vh;
    width: 50vh;
    border-top: 3px solid white;

    transition: .5s;
}

.images {
    position: absolute;
    margin-top: 35vh;
    margin-bottom: 5vh;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 20vh;
}

#easy {
    filter: drop-shadow(0 0 10px #ffb100);
}

#demon {
    opacity: 0%;
}
#demon:hover {
    transition: .5s;
    opacity: 100%;
    cursor: pointer;
}

